<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{url_for('static', filename = 'css/normalize.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <div class="header-container">
      <header class="wrapper clearfix">
          <a href="{{ url_for('index') }}"><h1 class="title">Flask Web Application Template</h1></a>
        <nav>
          <ul>
              {% if current_user.is_authenticated %}
              <li><a href="{{url_for('logout')}}">Logout</a></li>
              <li><a href="{{ url_for('add')}}">Feedback</a></li>
              {% else %}
            <li><a href="{{url_for('register')}}">Register</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('add')}}">Feedback</a></li>
              {% endif %}
          </ul>
        </nav>
      </header>
    </div>

    <div class="main-container">
      <div class="main wrapper clearfix">
        <article class="flashes">
            {%  with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </article>

        {% block content %}
        {% endblock %}

        {% block sidebar %}

          <aside>
            <h3>Hours of Operation</h3>
            <p>Monday - Friday: 9 AM - 6 PM</p>
            <p>Sunday: 10 AM - 4 PM</p>

              {% if new_feedback %}
              <ul>
                  {% for bm in new_feedback %}
                    <li>{{bm.url}}</li>
                  {% endfor %}
              </ul>
              {% else %}
              No feedback yet.
              {% endif %}
          </aside>

        {% endblock %}

      </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div class="footer-container">
      <footer class="wrapper">
        <h3>Contact Us</h3>
        <p>[Entity Name]</p>
        <p>[Address]</p>
        <p>[City, State, Zip]</p>
        <p>[Telephone: (555) 555-5555]</p>
        <p>[Email: admin@test.com]</p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../static/js/main.js"></script>
</html>