{% extends "base.html" %}

{% block title %}
Project -- Welcome
{% endblock %}

{% block content %}

    <article>
        <header>
            <h1>WELCOME!</h1>
            <body>
            <img src="/../static/img/default.jpeg" alt="Default">
            </body>
            <h3>Welcome to my Flask Web Application Template!</h3>
            <p>I hope this template speeds up your development!</p>
            <p>Please reach out with any queries.</p>
        </header>
        <section>
            <h3>For fun facts...</h3>
            <li><a href="{{url_for ('sale') }}">Click Here!</a></li>
        </section>

    </article>

{% endblock %}