{% extends "base.html" %}

{% block content %}

<article>
    <header>
        <h1>Fun Facts</h1>
    </header>
    <section>
        <h3 style="font-family:'JetBrains Mono';font-size: 20px;font-style: italic;">Tux the Penguin</h3>
        <body>
        <img src="/../static/img/tux.jpeg" alt="Tux">
        <p><b>The Linux mascot, what a dashing flightless bird!</b></p>
        <p><b>Who is Tux? </b>Tux is a penguin character and the official brand character of the Linux kernel. Originally created as an entry to a Linux logo competition, Tux is the most commonly used icon for Linux, although different Linux distributions depict Tux in various styles. The character is used in many other Linux programs and as a general symbol of Linux.</p>
        </body>
    </section>
</article>

{% endblock %}